@media screen and (max-width: 884px) {
    #navbar {
        font-size: .8em;
    }

    #welcome-info-text {
        max-width: 100vw;
        background-image: url(images/nyblue-background.jpg);
    }


}

@media screen and (max-width: 770px) {
    #navbar {
        display: none !important;
    }
}

@media screen and (min-width: 771px){
    #mobile-navbar, #dropdown-items {
        display: none !important;
    }
    
}

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#top-header {
    background-color: #E6E6E6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    width: 100vw;
    
}

#logo {
    width: 420px;
    height: 105px;
}


#navbar {
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(29, 29, 29);
    color: white;
    height: 60px;
    
}

#mobile-navbar {
    position: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(29, 29, 29);
    color: white;
    height: 60px;
}

#phone-number-mobile-display {
    font-family: Poppins;
    display: flex;
    align-items: center;
    position: absolute;
}

.hamburger-button {
    position: absolute;
    left: 90%;
    width: 40px;
    height: 40px;    
}


#dropdown-items {
    display: none;
    width: 100vw;
    background-color: rgb(29, 29, 29); 
    color: white;
}

#services-dropdown {
    position: relative;
}

#services-dropdown-content {
    font-family: Poppins;
    display: none;
    position: absolute;
    top: 53px;
    font-size: .9em;
    color: #E6E6E6;
    background-color: rgb(29, 29, 29);
    width: 200px;
}

#services-dropdown-content a {
    margin-top: 20px;
    margin-left: 20px;
}

#services-dropdown-content > a:last-child {
    margin-bottom: 20px;
}

.inner-services-dropdown > a::after {
    margin-top: 6px;
    right: 14px;
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 8px solid grey;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}

#services-dropdown:hover #services-dropdown-content {
    display: flex;
    flex-direction: column;
}

.inner-services-dropdown {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

.inner-dropdown-content {
    display: none;
    position: absolute;
    left: 100%;
    top: -20px;
    background-color: rgb(29, 29, 29);
    color: #E6E6E6;
    width: 220px;
}

.inner-services-dropdown:hover .inner-dropdown-content {
    display: flex;
    flex-direction: column;
}

.inner-dropdown-content > a:last-child {
    margin-bottom: 20px;
}


#home-hamburger {
    display: flex;
}

.navitems-dropdown {
    font-family: Poppins;
    font-weight: bold;
    list-style: none;
    padding: 10px;
}

#navlinks {
    list-style: none;
    display: flex;
}

.links {
    color: inherit;
    text-decoration: none;
}

.links:hover {
    color: #fac40b;
}


.navitems { 
    font-family: Poppins;
    font-weight: bold;
    padding: 14px;
}

#phone-number {
    font-family: Poppins;
    display: flex;
    align-items: center;
    margin-right: 30px;
}

#phone-text {
    display: flex;
    flex-direction: column;
}

#call-today {
    font-size: .8em;
}

#home {
    color: #fac40b;
    display: flex;
}

#home-icon {
    width: 20px;
    height: 20px;
    margin-right: 6px;
}

#phone-icon {
    width: 28px;
    height: 28px;
    margin-right: 10px;
}

#plus-icon, #minus-icon {
    width: 24px;
    height: 24px;
}

#plus-icon {
    margin-left: 10px;
}

#minus-icon {
    display: none;
    position: absolute;
    left: 184px;
    top: 250px;   
}



#phone-number::before {
    content: "";
    width: .1em;
    height: 30px;
    background-color: rgb(97, 92, 92);
    margin-right: 10px;
}


#mobile-services-dropdown {
    display: flex;
    align-items: center;
}

#mobile-os-dropdown {
    display: none;
    flex-direction: column;
    margin-left: -40px;
    font-family: Poppins;
    width: 100vw;
    background-color: #E6E6E6;
    color: rgb(29, 29, 29);
}

.mobile-dropdown-titles {
    display: flex;
    align-items: center;
    height: 40px;
    background-color: #f0f2f5;
}


.mobile-dropdown-titles > a {
    text-decoration: none;
    color: inherit;
    margin-left: 50px;
    align-items: center;
    font-weight: bold;
    font-size: 1.1em;
}

.mobile-dropdown-titles > a:hover {
    text-decoration: underline;
}


.mobile-dropdown-items {
    
    margin-left: 10px;
    font-size: .9.5em;
}

.mobile-dropdown-items > ul {
    list-style-type: none;
}

.mobile-dropdown-items > ul > li {
    padding-top: 8px;
    padding-bottom: 8px;
}

.mobile-dropdown-items > ul >li::before {
    content: "-";
    margin-right: 3px;
}

.mobile-dropdown-items > ul > li > a {
    text-decoration: none;
    color: inherit;
}

.mobile-dropdown-items > ul > li > a:hover {
    text-decoration: underline;
}

#slide-show {
    border-bottom: 2px solid black;
}


.slide-show-imgs {
    display: flex;
    width: 100vw; 
}

#after-slide-show-container {
    font-family: poppins;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 200px;
    background-image: url(images/yellow-background.jpg);
    filter: drop-shadow(8px 8px 8px black);
}

#after-slide-show-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#after-slide-show-content > button {
    font-size: 1.6em;
    color: white;
    background-color: black;
    border: 1px solid white;
    border-radius: 4px;
    width: 300px;
    height: 70px;
    display: flex; 
    align-items: center;
    justify-content: center;
}

#after-slide-show-content > h1 {
    font-size: 1.8em;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px black;
}

#welcome-info {
    font-family: poppins;
    color: white;
    background-image: url(images/nyblue-background.jpg);
    width: 100vw;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#welcome-info-text {
    width: 800px;
    text-align: center;
    


}
