@media screen and (max-width: 900px) {
    #navbar {
        font-size: .8em;
    }

    #welcome-info-text {
        max-width: 100vw;
        font-size: .9em;
    }

}

@media screen and (max-width: 787px) {
    #navbar {
        display: none !important;
    }

    #services-grid-menu {
        grid-template-columns: 1fr !important;
    }

    #services-grid-menu > :nth-child(-n + 2) {
        filter: none !important;
    }
}

@media screen and (min-width: 788px){
    #mobile-navbar, #dropdown-items {
        display: none !important;
    }
    
}

@media screen and (max-width: 1160px){
    .page-bottom-items {
        width: 400px !important;
    }
}

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#top-header {
    background-color: #E6E6E6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    width: 100vw;
    
}

#logo {
    width: 420px;
    height: 105px;
}


#navbar {
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(29, 29, 29);
    color: white;
    height: 60px;
    
}

#mobile-navbar {
    position: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(29, 29, 29);
    color: white;
    height: 60px;
}

#phone-number-mobile-display {
    font-family: Poppins;
    display: flex;
    align-items: center;
    position: absolute;
}

.hamburger-button {
    position: absolute;
    left: 90%;
    width: 40px;
    height: 40px;    
}


#dropdown-items {
    display: none;
    width: 100vw;
    background-color: rgb(29, 29, 29); 
    color: white;
}

#services-dropdown {
    position: relative;
}

#services-dropdown-content {
    font-family: Poppins;
    display: none;
    position: absolute;
    top: 53px;
    font-size: .9em;
    color: #E6E6E6;
    background-color: rgb(29, 29, 29);
    width: 200px;
}

#services-dropdown-content a {
    margin-top: 20px;
    margin-left: 20px;
}

#services-dropdown-content > a:last-child {
    margin-bottom: 20px;
}

.inner-services-dropdown > a::after {
    margin-top: 6px;
    right: 14px;
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 8px solid grey;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}

#services-dropdown:hover #services-dropdown-content {
    display: flex;
    flex-direction: column;
}

.inner-services-dropdown {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

.inner-dropdown-content {
    display: none;
    position: absolute;
    left: 100%;
    top: -20px;
    background-color: rgb(29, 29, 29);
    color: #E6E6E6;
    width: 220px;
}

.inner-services-dropdown:hover .inner-dropdown-content {
    display: flex;
    flex-direction: column;
}

.inner-dropdown-content > a:last-child {
    margin-bottom: 20px;
}


#home-hamburger {
    display: flex;
}

.navitems-dropdown {
    font-family: Poppins;
    font-weight: bold;
    list-style: none;
    padding: 10px;
}

#navlinks {
    list-style: none;
    display: flex;
}

.links {
    color: inherit;
    text-decoration: none;
}

.links:hover {
    color: #fac40b;
}


.navitems { 
    font-family: Poppins;
    font-weight: bold;
    padding: 14px;
}

#phone-number {
    font-family: Poppins;
    display: flex;
    align-items: center;
    margin-right: 30px;
}

#phone-text {
    display: flex;
    flex-direction: column;
}

#call-today {
    font-size: .8em;
}

#home {
    color: #fac40b;
    display: flex;
}

#home-icon {
    width: 20px;
    height: 20px;
    margin-right: 6px;
}

#phone-icon {
    width: 28px;
    height: 28px;
    margin-right: 10px;
}

#plus-icon, #minus-icon {
    width: 24px;
    height: 24px;
}

#plus-icon {
    margin-left: 10px;
}

#minus-icon {
    display: none;
    position: absolute;
    left: 184px;
    top: 250px;   
}

#arrow-icon {
    width: 14px;
    height: 14px;
    padding-left: 10px;
}

#phone-number::before {
    content: "";
    width: .1em;
    height: 30px;
    background-color: rgb(97, 92, 92);
    margin-right: 10px;
}


#mobile-services-dropdown {
    display: flex;
    align-items: center;
}

#mobile-os-dropdown {
    display: none;
    flex-direction: column;
    margin-left: -40px;
    font-family: Poppins;
    width: 100vw;
    background-color: #E6E6E6;
    color: rgb(29, 29, 29);
}

.mobile-dropdown-titles {
    display: flex;
    align-items: center;
    height: 40px;
    background-color: #f0f2f5;
}


.mobile-dropdown-titles > a {
    text-decoration: none;
    color: inherit;
    margin-left: 50px;
    align-items: center;
    font-weight: bold;
    font-size: 1.1em;
}

.mobile-dropdown-titles > a:hover {
    text-decoration: underline;
}


.mobile-dropdown-items {
    
    margin-left: 10px;
    font-size: .9.5em;
}

.mobile-dropdown-items > ul {
    list-style-type: none;
}

.mobile-dropdown-items > ul > li {
    padding-top: 8px;
    padding-bottom: 8px;
}

.mobile-dropdown-items > ul >li::before {
    content: "-";
    margin-right: 3px;
}

.mobile-dropdown-items > ul > li > a {
    text-decoration: none;
    color: inherit;
}

.mobile-dropdown-items > ul > li > a:hover {
    text-decoration: underline;
}

#slide-show {
    border-bottom: 2px solid black;
}


.slide-show-imgs {
    display: flex;
    width: 100vw; 
}

#after-slide-show-container {
    font-family: poppins;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 200px;
    background-image: url(images/yellow-background.jpg);
    filter: drop-shadow(8px 8px 8px black);
}

#after-slide-show-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#after-slide-show-content > button {
    font-size: 1.6em;
    color: white;
    background-color: black;
    border: 1px solid white;
    border-radius: 4px;
    width: 300px;
    height: 70px;
    display: flex; 
    align-items: center;
    justify-content: center;
    transition: background-color .5s ease;
}

#after-slide-show-content > button:hover {
    cursor: pointer;
    background-color: #fac40b;
    color: black;
    border: 1px solid black;
}

#after-slide-show-content > button:hover .svg-path {
    fill: black;
}

#after-slide-show-content > h1 {
    font-size: 1.8em;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px black;
}

.welcome-info {
    font-family: poppins;
    color: white;
    background-image: url(images/nyblue-background.jpg);
    width: 100vw;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-info > h2 {
    margin-top: 50px;
}

.welcome-info > button {
    font-size: 1.6em;
    color: white;
    background-color: black;
    border: 1px solid white;
    border-radius: 4px;
    width: 300px;
    height: 70px;
    display: flex; 
    align-items: center;
    justify-content: center;
    transition: background-color .5s ease;
}

.welcome-info > button:hover {
    cursor: pointer;
    background-color: #fac40b;
    color: black;
    border: 1px solid black;
}

.welcome-info > button:hover .svg-path {
    fill: black;
}


#welcome-info-text {
    width: 800px;
    text-align: center;
}

#welcome-info-text > p {
    margin-right: 20px;
    margin-left: 20px;
}

#services-grid-menu {
    display: grid;
    width: 100vw;
    grid-template-columns: repeat(2, 1fr);
}

.services-grid-items {
    font-family: Poppins;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    height: 400px;
    background: linear-gradient(to right, rgba(255, 187, 0, 0.774), rgb(255, 166, 0));
}

#services-grid-menu > :nth-child(-n + 2) {
    filter: drop-shadow(0 8px 8px black);
}


.services-grid-items > img {
    width: 90%;
    height: 175px;
    object-fit: cover;
    margin-bottom: -30px;
}

.services-grid-items > strong {
    font-size: 1.5em;
    margin-top: 20px;
}

.services-grid-items > p {
    font-size: .9em;
    margin-right: 30px;
    margin-left: 30px;
}


.services-grid-items > button {
    color: white;
    background-color: black;
    border: 1px solid white;
    border-radius: 4px;
    width: 150px;
    height: 40px;
    display: flex; 
    align-items: center;
    justify-content: center;
    font-weight: bold;
    transition: background-color .5s ease;
}

.services-grid-items > button:hover {
    cursor: pointer;
    background-color: #fac40b;
    color: black;
}

.services-grid-items > button:hover .svg-path {
    fill: black;
}

#welcome-info > button {
    font-size: 1.6em;
    color: white;
    background-color: black;
    border: 1px solid white;
    border-radius: 4px;
    width: 300px;
    height: 70px;
    display: flex; 
    align-items: center;
    justify-content: center;
    transition: background-color .5s ease;
}

#welcome-info > button:hover {
    cursor: pointer;
    background-color: #fac40b;
    color: black;
    border: 1px solid black;
}

#page-bottom {
    width: 100vw;
    font-family: poppins;
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url(images/slab-background.jpg);
    padding-bottom: 80px;
}

.page-bottom-items {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
}

.page-bottom-items > h1 {
    border-top: 1px dotted #fac40b;
    border-bottom: 1px dotted #fac40b;
    font-size: 1.3em;
    padding-top: 20px;
    padding-bottom: 20px;
}

.page-bottom-items > h2 {
    font-size: 1.1em;
}

.page-bottom-items > span {
    font-size: .9em;
}

.yellow-text {
    color: #fac40b;
}

#email-button {
    margin-top: 20px;
}

.page-bottom-items > a {
    color: #fac40b;
    text-decoration: none;  
    padding-bottom: 15px;
}


.page-bottom-items > p {
    font-size: .9em;
}

.page-bottom-buttons {
    font-family: Poppins;
    font-weight: bold;
    width: 120px;
    margin-right: 80px;
}

.page-bottom-buttons:hover {
    cursor: pointer;
    color: grey;
}

#name {
    margin-top: 20px;
}

#name, #email, #phone {
    margin-bottom: 10px;
    width: 230px;
    height: 25px;
}

#message {
    padding-bottom: 100px;
    margin-bottom: 20px;
    width: 230px;
}

.first-line {
    margin-top: 25px;
}

footer {
    width: 100vw;
    height: 60px;
    font-size: .8em;
    background-color: black;
    color: white;
    font-family: poppins;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


